<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #shoppingForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-group"
            ngModel
            name="name"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-group"
            ngModel
            name="amount"
            required
            [pattern]="'^[1-9]+[0-9]*$'"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!shoppingForm.valid"
          >
            {{ editedMode ? "update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            [disabled]="!this.editedMode"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClear()"
            [disabled]="!this.editedMode"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
